{% extends '_templates/base.njk' %}

{% block page_title %}Capt. McGillicutty's Ship's Log{% endblock %}

{% block page_description %}a blog by Captain McGillicutty{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>A pirate's life is for me</h1>
      <p>Hempen halter mizzenmast deadlights gaff pillage starboard jack lee Blimey draught. Man-of-war piracy black jack sutler Yellow Jack keel provost overhaul execution dock rigging. Log quarterdeck dead men tell no tales red ensign gibbet grog blossom bilge Nelsons folly code of conduct gunwalls.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    {% for entry in blog.blogs %}
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><a href="blog/{{entry.slug}}.html">{{entry.headline}}</a></h5>
          <p class="card-text">{{entry.date}}</p> 
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
